
/* show divs */
/*div {
  border-style: solid;
  border-color: red;
}*/

#github_link {
  /*position: fixed;
  top: 0px;
  right: 0px;*/
  padding-left: 25%;
  width: 200px;
  height: 82px;
}

#linkedin_link {
  /*position: fixed;
  top: 10px;
  right: 200px;*/
  margin-bottom: 9px;
  margin-left: 70px;
}

#summary {
  top:100px;
  font-family: 'Abril Fatface';
  font-size: 30px;
}

#rickAndMortyGif {
  top:250px;
  right: 300px;
  width:50%;
  margin-left: 25%;
}

#outerWrapper {
  width: 66%;
  margin-left: 18%;
}

#linkedinWrapper {
  width:33%;
  display:inline-block;
}

#githubWrapper {
  width:43%;
  display:inline-block;
}
